.grid-container {
    display: grid;
    grid-template-areas:
        'text text'
        'input button';
    grid-gap: 10px;
    grid-template-columns: 48% 48%;
    grid-area: chat;
}

@media (min-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'text text'
            'input button';
        grid-gap: 5px;
        grid-template-columns: 350px 150px;
        grid-area: chat;
    }

    .grid-input {
        width: 260px;
    }
}

.grid-text {
    grid-area: text;
}

.grid-input {
    grid-area: input;
    text-align: center;
}

.grid-input input {
    width: 99%;
}

.grid-button {
    grid-area: button;
}

.grid-button button {
    width: 80%;
}