.App {
    display: grid;
    grid-template-areas:
      '. . title . .'
      '. . chat userList .';
    grid-template-columns: auto 150px 400px 150px auto;
    grid-gap: 5px;
}

.title {
    grid-area: title;
}