.App {
    display: grid;
    grid-template-areas:
      '. . title signOut .'
      '. . chat userList .';
    grid-template-columns: auto 150px 500px 200px auto;
    grid-gap: 5px;
}

.title {
    grid-area: title;
    justify-self: center;
}

.signOut {
    grid-area: signOut;
    justify-self: center;
    align-self: center;
}