.App {
    display: grid;
    grid-template-areas:
      'title title title'
      '. chat userList';
    grid-template-columns: 150px 400px 150px;
    grid-gap: 5px;
}

.title {
    grid-area: title;
}